#header {
	display: none;
}

.startpage {
	background-color: transparent !important
}

.bookmark-bar .observer {
	justify-content: center;
	background-color: transparent;
}

.bookmark-bar {
	position: absolute;
	z-index: 1;
	bottom: 93px;
	left: 50%;
	transform: translate(-50%, 100%);
	width: 475px;
	display: flex;
	flex: 0 0 auto;
	overflow: visible;
	height: 28px;
	font-size: 11.5px;
	--yield: 60px;
}

.bookmark-bar button img,
.bookmark-bar button svg {
	pointer-events: none;
	margin: auto 0;
	flex: 0 0 auto;
	width: 32px;
	height: 32px;
	stroke: none;
	fill: currentColor;
}

.bookmark-bar-top .bookmark-bar {
	height: 50px;
}

.color-behind-tabs-on .bookmark-bar {
	border-radius: 10px;
}

.color-behind-tabs-on .bookmark-bar button {
	background-color: transparent;
}
