window {
	background-color: transparent;
}

.bg {
	margin: 2px 4px;
	background-color: rgba(10,10,10,.50);
	border-radius: 10px;
}

.bg-black {
	margin: 2px 4px;
	background-color: rgba(0,0,0, .80);
	border-radius: 10px;
}

.padding {
    padding: 4px;
}

.bar {
	margin: 4px;
}

* {
    font-size: 12px;   
}

.brightness {
    background-color: black;
}

button {
    background-clip: padding-box;
    min-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 15px;
    background-color: transparent;
    border-bottom: 1px solid transparent;
}

.mic {
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 12px;
}
.wifi {
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 12px;
}

.workspace-button {
   padding-left: 10px;
   padding-right: 10px;
   border-radius: 0px;
}

.workspace-button-start {
   padding-left: 10px;
   padding-right: 10px;
   border-top-left-radius: 15px;
   border-top-right-radius: 0px;
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 0px;
}

.workspace-button-end {
   padding-left: 10px;
   padding-right: 10px;
   border-top-left-radius: 0px;
   border-top-right-radius: 15px;
   border-bottom-left-radius: 0px;
   border-bottom-right-radius: 15px;
}

button:active {
    background-color: @theme_selected_bg_color;
}

button:hover {
    border: 1px solid grey;
}


.workspaces button.focused {
    border-bottom: 1px solid @theme_selected_bg_color;
}

.client-title {
    color: @theme_selected_bg_color;
}

.notification {
    color: yellow;
}

.top {
	background-color: white;
}

slider {
	min-height: 5px;
	min-width: 5px;
	margin: -7px;
}

.menu {
	background-color: black;
	border: none;
	border-radius: 10px;
}

.title {
	padding: 2px 2px 0px 8px;	
}
